<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NC_TaskSuite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="NC_TaskSuite.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NC_TaskSuite.Properties.Settings>
            <setting name="IsDarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxTaskLimitDefault" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxTaskLimit" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DefaultToPriority" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoCapitalization" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowScheduleGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowNotesGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowGitGroup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowOrganizationGroup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSubtasksGroup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAlarm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableDailyToggle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableNotes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableGitLink" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableCommitHash" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableBranchName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableIssueId" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableCategory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableDueDate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SubtaskLimit" serializeAs="String">
                <value>3</value>
            </setting>
        </NC_TaskSuite.Properties.Settings>
        <NC_TaskSuite.Settings1>
            <setting name="IsDarkMode" serializeAs="String">
                <value>False</value>
            </setting>
        </NC_TaskSuite.Settings1>
    </userSettings>
</configuration>